---
import { type IExperiences } from "@types";
import ScrollAnimationWrapper from '@components/common/ScrollAnimationWrapper.astro';

const { title, data } = Astro.props as IExperiences;
---

<section class="py-4sm:py-4">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-0 lg:max-w-7xl lg:px-8">
    <!-- <ScrollAnimationWrapper>
    <h1 class="text-4xl font-medium sm:text-3xl lg:text-5xl">{title}</h1>
    </ScrollAnimationWrapper> -->
    <section class="flex items-start justify-between flex-col sm:flex-row dark:text-light">
      <div class="w-full">
        {data.map((item) => (
          <ScrollAnimationWrapper>
            <div class="my-5">
              <div class="flex justify-between items-center flex-wrap">
                <h2 class="text-2xl font-semibold">{item.name}</h2>
                <p class="text-lg">
                  {item.startDate} - {item.endDate}
                </p>
              </div>
              <p class="text-md font-semibold text-locationblue">{item.location}</p>
              <ul class="mt-1 mx-4 list-inside">
                {item.descriptions.map((description) => (
                  <li>{description}</li>
                ))}
              </ul>
            </div>
          </ScrollAnimationWrapper>
        ))}
      </div>
    </section>
  </div>
</section>
