---
import {type IExperiences} from "@types";
import ProjectsExperience from '@components/experience/ProjectsExperience.astro';
import ScrollAnimationWrapper from '@components/common/ScrollAnimationWrapper.astro';
const {title, data} = Astro.props as IExperiences;
---
<section class="py-4 sm:py-4">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-0  lg:max-w-7xl lg:px-8">
        <!-- <ScrollAnimationWrapper>
            <h1 class="text-4xl font-medium sm:text-3xl lg:text-5xl">{title}</h1>
        </ScrollAnimationWrapper> -->
        <div class="w-full">
        {
            data.map((item) => (
                <div class="my-5">
                    <ScrollAnimationWrapper>
                        <div class="flex justify-between items-center flex-wrap">
                            <h2 class="text-4xl font-bold">{item.name}</h2>
                            <p class="text-lg">
                                {item.startDate} - {item.endDate}
                            </p>
                        </div>
                        <p class="text-md font-semibold text-locationblue">{item.location}</p>
                        <p class="text-lg mt-4">{item.description}</p>
                    </ScrollAnimationWrapper>
                    <ProjectsExperience data={item.projects}/>
                </div>
            ))
        }
        </div>
    </div>
</section>



